In [2]:
cd Hackearth/LGM_data_analytics/Data

/home/saksham/Documents/Hackearth/LGM_data_analytics/Data

In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
import seaborn as sns
from sklearn.model_selection import StratifiedKFold
import os
from sklearn.metrics import f1_score
le=LabelEncoder()
from sklearn.neighbors import KNeighborsClassifier

In [4]:
Cstmr_details=pd.read_excel("Customer_Demographics.xlsx")
Store_deatils=pd.read_excel("Store_Master.xlsx")
Cstmr_trstn=pd.read_excel("Customer_Transaction.xlsx")

In [4]:
Test=pd.read_excel("Test_Set.xlsx")

In [5]:
Cstmr_details.shape

(100000, 16)

In [5]:
Cstmr_details

,Customer_ID,Territory,Nationality,Income_Range,Job_Type,Marital_Status,Gender,State,Language,Loyalty_Status,Birth_date,Age,Points,First_txn_dt,Last_accr_txn_dt,Last_rdm_txn_dt
0,1800000006365760,United Arab Emirates,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,01JUN1959:00:00:00,59.0,814.0,02NOV2010:00:00:00,27SEP2018:21:45:25,11MAR2018:19:11:57
1,1800000006365820,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,212.0,06DEC2010:00:00:00,16AUG2016:21:08:28,16MAR2015:13:39:12
2,1800000006366060,United Arab Emirates,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,07JUN1959:00:00:00,59.0,186.0,17FEB2011:00:00:00,31AUG2018:20:52:18,30JAN2017:19:19:19
3,1800000006366230,United Arab Emirates,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,21JAN1962:00:00:00,57.0,126.0,30OCT2010:00:00:00,30JUL2018:20:30:05,20JUN2017:17:57:27
4,1800000006366570,United Arab Emirates,OCCUPIED PALESTINIAN TERRITORY,Below 5000,Services,Married,M,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,197.0,10NOV2010:00:00:00,03SEP2018:22:10:56,17JUN2017:23:08:28
5,1800000006366750,United Arab Emirates,UNITED ARAB EMIRATES,5001 to 10000,Services,Married,M,Abu Dhabi,Arabic,Silver,03JUN1976:00:00:00,42.0,1938.0,10NOV2010:00:00:00,01SEP2018:13:56:05,30MAY2017:13:17:44
6,1800000006366910,United Arab Emirates,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,31MAY1969:00:00:00,49.0,874.0,10NOV2010:00:00:00,30JUL2018:20:40:37,28JUN2018:22:15:47
7,1800000006366930,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Gold,06MAY1980:00:00:00,38.0,1449.0,10NOV2010:00:00:00,18AUG2018:22:21:35,29DEC2016:12:31:10
8,1800000006367140,United Arab Emirates,UNITED ARAB EMIRATES,5001 to 10000,Services,Married,M,Abu Dhabi,Arabic,Gold,05APR1977:00:00:00,41.0,943.0,05NOV2010:00:00:00,05SEP2018:18:34:58,12AUG2018:11:23:05
9,1800000006367270,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,05JAN1973:00:00:00,46.0,310.0,27OCT2010:00:00:00,24JUN2018:16:47:17,24JUN2018:16:47:17
10,1800000006367330,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Others,Married,M,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,15.0,10NOV2010:00:00:00,09MAR2018:19:05:51,10SEP2016:14:27:54
11,1800000006367900,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Services,Single,F,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,329.0,10NOV2010:00:00:00,27OCT2017:19:24:20,31DEC2016:19:53:21
12,1800000006368290,United Arab Emirates,UNITED ARAB EMIRATES,5001 to 10000,Services,Married,M,Abu Dhabi,Arabic,Gold,01JAN1973:00:00:00,46.0,311.0,10NOV2010:00:00:00,08SEP2018:13:42:16,08SEP2018:12:20:34
13,1800000006368610,United Arab Emirates,JORDAN,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,02FEB1971:00:00:00,48.0,122.0,06NOV2010:00:00:00,11JUL2018:17:12:53,19AUG2017:21:04:38
14,1800000006368650,United Arab Emirates,OCCUPIED PALESTINIAN TERRITORY,5001 to 10000,Services,Married,F,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,817.0,10NOV2010:00:00:00,26AUG2018:13:37:54,10FEB2015:11:13:36
15,1800000006368730,United Arab Emirates,ISLAMIC REPUBLIC OF IRAN,Below 5000,Services,Married,M,Abu Dhabi,Arabic,Silver,01FEB1982:00:00:00,37.0,130.0,14NOV2010:00:00:00,10SEP2018:12:40:43,18APR2018:12:52:56
16,1800000006368750,United Arab Emirates,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,01JAN1900:00:00:00,NaN,209.0,02APR2011:00:00:00,26AUG2018:18:17:11,04APR2018:19:34:13
17,1800000006368800,United Arab Emirates,OCCUPIED PALESTINIAN TERRITORY,Below 5000,Services,Married,F,Abu Dhabi,English,Silver,08JUN1990:00:00:00,28.0,106.0,10NOV2010:00:00:00,21SEP2018:20:35:15,23APR2017:20:52:47
18,1800000006368830,United Arab Emirates,UNITED ARAB EMIRATES,5001 to 10000,Others,Married,M,Abu Dhabi,Arabic,Silver,01JAN1975:00:00:00,44.0,457.0,01NOV2010:00:00:00,21SEP2018:20:50:14,12JUN2018:16:32:35
19,1800000006368940,United Arab Emirates,INDIA,Below 5000,Services,Married,F,Abu Dhabi,English,Silver,03APR1963:00:00:00,55.0,597.0,04NOV2010:00:00:00,31AUG2018:20:53:29,12JUL2018:12:16:32
20,1800000006369560,United Arab Emirates,INDIA,5001 to 10000,Others,Married,M,Abu Dhabi,English,Silver,06APR1983:00:00:00,35.0,163.0,05NOV2010:00:00:00,24AUG2018:20:40:59,19JUN2018:15:35:01
21,1800000006370160,United Arab Emirates,UNITED KINGDOM,Below 5000,Others,Married,F,Abu Dhabi,English,Silver,07JAN1900:00:00:00,119.0,223.0,04NOV2010:00:00:00,09SEP2018:11:08:20,21JUN2018:15:40:23
22,1800000006370930,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Others,Married,M,Abu Dhabi,English,Silver,01AUG1964:00:00:00,54.0,391.0,10NOV2010:00:00:00,19SEP2018:11:11:57,26JUN2018:11:36:32
23,1800000006370960,United Arab Emirates,OCCUPIED PALESTINIAN TERRITORY,Below 5000,Others,Married,M,Abu Dhabi,English,Silver,01JAN1900:00:00:00,NaN,229.0,10NOV2010:00:00:00,16JUN2018:17:22:20,01MAY2018:19:28:35
24,1800000006371030,United Arab Emirates,UNITED ARAB EMIRATES,5001 to 10000,Services,Married,M,Abu Dhabi,English,Silver,12JUL1973:00:00:00,45.0,283.0,06NOV2010:00:00:00,22SEP2018:19:37:44,22SEP2018:19:37:44
25,1800000006371430,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Others,Married,F,Abu Dhabi,Arabic,Gold,01JAN1900:00:00:00,NaN,1633.0,10NOV2010:00:00:00,14SEP2018:19:43:15,10JUL2018:20:23:53
26,1800000006371690,United Arab Emirates,UNDISCLOSED ARAB NATIONAL,Below 5000,Others,Married,M,Abu Dhabi,English,Silver,01JAN1900:00:00:00,NaN,333.0,02NOV2010:00:00:00,02SEP2018:11:12:54,02SEP2018:11:12:54
27,1800000006372350,United Arab Emirates,INDIA,5001 to 10000,Services,Married,F,Abu Dhabi,English,Silver,18DEC1959:00:00:00,59.0,496.0,30OCT2010:00:00:00,29AUG2018:16:50:26,29AUG2018:16:50:26
28,1800000006372790,United Arab Emirates,SYRIAN ARAB REPUBLIC,5001 to 10000,Services,Married,F,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,872.0,10NOV2010:00:00:00,27SEP2018:22:54:18,06DEC2015:17:36:29
29,1800000006372800,United Arab Emirates,INDIA,5001 to 10000,Services,Married,F,Abu Dhabi,English,Silver,01JAN1900:00:00:00,NaN,52.0,31OCT2010:00:00:00,25SEP2018:13:21:44,13SEP2018:16:53:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,1800000279520060,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Silver,NaN,NaN,NaN,20DEC2017:00:00:00,20DEC2017:20:11:41,NaN
99971,1800000279546770,United Arab Emirates,INDIA,Unspecified,Unspecified,Unspecified,F,Dubai,English,Silver,01JAN1900:00:00:00,NaN,NaN,30DEC2017:00:00:00,28APR2018:00:00:00,NaN
99972,1800000279559740,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,25DEC2017:00:00:00,25DEC2017:18:22:53,NaN
99973,1800000279559750,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,25DEC2017:00:00:00,27JUN2018:19:23:42,NaN
99974,1800000279559800,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,25DEC2017:00:00:00,05JUL2018:13:31:07,NaN
99975,1800000279560480,United Arab Emirates,RUSSIAN FEDERATION,Unspecified,Unspecified,Unspecified,F,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,22DEC2017:00:00:00,25DEC2017:21:19:22,NaN
99976,1800000279560800,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,24DEC2017:00:00:00,24DEC2017:20:17:39,NaN
99977,1800000279561370,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,F,Others,Arabic,Silver,01JAN1900:00:00:00,NaN,NaN,29DEC2017:00:00:00,31DEC2017:17:41:52,NaN
99978,1800000279561900,United Arab Emirates,PHILIPPINES,Unspecified,Unspecified,Unspecified,F,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,28DEC2017:00:00:00,31DEC2017:18:28:54,NaN
99979,1800000279562220,United Arab Emirates,SUDAN,Unspecified,Unspecified,Unspecified,F,Fujairah,Arabic,Silver,01JAN1966:00:00:00,53.0,NaN,26DEC2017:00:00:00,05AUG2018:22:35:54,03JUL2018:17:44:26
99980,1800000279565540,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,30DEC2017:00:00:00,30DEC2017:15:19:55,NaN
99981,1800000279565560,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,23DEC2017:00:00:00,12SEP2018:19:34:13,NaN
99982,1800000279566520,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,24DEC2017:00:00:00,05MAY2018:18:28:29,NaN
99983,1800000279566640,United Arab Emirates,PHILIPPINES,Unspecified,Unspecified,Unspecified,F,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,24DEC2017:00:00:00,25DEC2017:14:07:25,NaN
99984,1800000279566870,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,27DEC2017:00:00:00,27DEC2017:10:09:53,NaN
99985,1800000279585230,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Silver,NaN,NaN,NaN,29DEC2017:00:00:00,29DEC2017:18:37:56,NaN
99986,1800000279585510,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,F,Others,English,Silver,25NOV1978:00:00:00,40.0,NaN,30DEC2017:00:00:00,30DEC2017:10:35:32,NaN
99987,1800000279735350,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Silver,NaN,NaN,NaN,25DEC2017:00:00:00,27DEC2017:15:24:00,NaN
99988,1800000279926060,United Arab Emirates,INDIA,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,15MAY1986:00:00:00,32.0,NaN,29DEC2017:00:00:00,11MAY2018:19:54:04,NaN
99989,1800000279929430,United Arab Emirates,INDIA,Unspecified,Unspecified,Unspecified,M,Dubai,English,Silver,NaN,NaN,NaN,26DEC2017:00:00:00,26DEC2017:17:12:41,NaN
99990,1800000279929710,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,F,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,26DEC2017:00:00:00,26DEC2017:12:49:39,NaN
99991,1800000279930540,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,07FEB1988:00:00:00,31.0,NaN,29DEC2017:00:00:00,06JUL2018:21:27:00,NaN
99992,1800000279930560,United Arab Emirates,INDIA,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,29DEC2017:00:00:00,02MAR2018:18:42:36,NaN
99993,1800000279933740,United Arab Emirates,INDIA,Unspecified,Unspecified,Unspecified,M,Others,English,Silver,01JAN1900:00:00:00,NaN,NaN,30DEC2017:00:00:00,30DEC2017:22:25:55,NaN
99994,1800000279934490,United Arab Emirates,Unspecified,Unspecified,Unspecified,Unspecified,M,Others,Arabic,Silver,01JAN1900:00:00:00,NaN,NaN,31DEC2017:00:00:00,31DEC2017:21:47:12,31DEC2017:19:38:52
99995,1800000284709040,United Arab Emirates,UNITED ARAB EMIRATES,5001 to 10000,Others,Married,M,Dubai,Arabic,Gold,12FEB1978:00:00:00,41.0,3347.0,28OCT2010:00:00:00,03SEP2018:17:22:40,05JUN2018:00:01:43
99996,1800000284710170,United Arab Emirates,INDIA,Unknown,Others,Married,F,Abu Dhabi,English,Silver,20MAY1974:00:00:00,44.0,104.0,10NOV2010:00:00:00,22JUN2018:13:22:26,15JUL2017:18:33:53
99997,1800000284710670,United Arab Emirates,PAKISTAN,Unspecified,Unspecified,Married,M,Dubai,English,Silver,20AUG1972:00:00:00,46.0,1792.0,03AUG2011:00:00:00,29SEP2018:15:19:54,27JUL2018:22:47:54
99998,1800000284712570,United Arab Emirates,INDIA,Unspecified,Unspecified,Unspecified,M,Ajman,English,Gold,18SEP1972:00:00:00,46.0,657.0,22OCT2016:00:00:00,22SEP2018:22:42:32,09JAN2018:22:21:12
99999,1800000288858110,United Arab Emirates,UNITED ARAB EMIRATES,Unspecified,Unspecified,Unspecified,M,Sharjah,Arabic,Silver,31DEC1973:00:00:00,45.0,451.0,15AUG2012:00:00:00,19JUL2018:21:51:43,15MAY2018:10:18:00

In [7]:
Cstmr_details.isnull().sum(axis=0)

Customer_ID             0
Territory               0
Nationality             0
Income_Range            0
Job_Type                0
Marital_Status          0
Gender                  0
State                   0
Language                0
Loyalty_Status          0
Birth_date          17538
Age                 26096
Points               2863
First_txn_dt           33
Last_accr_txn_dt        6
Last_rdm_txn_dt     28419
dtype: int64

In [8]:
###Imputing the missing values
## Removing unimportant columns
Cstmr_details["Age"].fillna(Cstmr_details["Age"].mean(),inplace=True)
Cstmr_details["Points"].fillna(Cstmr_details["Points"].mean(),inplace=True)
Cstmr_details.drop(["Territory","Birth_date","First_txn_dt","Last_accr_txn_dt","Last_rdm_txn_dt"],inplace=True,axis=1)

In [9]:
Store_deatils.shape

(35, 15)

In [10]:
Store_deatils

,Territory,Business,Region,Region_Code,Store_Code,Store_Name,Mall_Name,Store_Format,Sales_Per_Day,Store_Launch_Date,Train_Test_Store,Geo_Field,Store_Size_Sq_Ft,Customer_Count,Total_Revenue
0,United Arab Emirates,Max,MX - Abu Dhabi,602,60077,Max Zayed City Mall,City Mall - Abu Dhabi-Uae,NaN,544.074849,2011-11-02,Train,"25.618167, 53.441646",4852.220341,22237.0,1.131676e+07
1,United Arab Emirates,Max,MX - Sharjah,606,60073,Max Safeer Mall,Safeer Mall Sharjah-Uae,NaN,1251.656549,2009-08-21,Train,"25.309997, 55.378550",13789.949661,88372.0,2.603446e+07
2,United Arab Emirates,Max,MX - Dubai,601,60065,Max Gardens,Ibn Battuta Mall-Uae,NaN,3319.885702,2005-04-15,Train,"25.044684, 55.120275",15609.687991,188836.0,6.905362e+07
3,United Arab Emirates,Max,MX - Dubai,601,60219,MX -Dubai Festival City,Dubai Festival City-Uae,Stand Alone Stores,1211.477261,2014-06-12,Train,"25.218486, 55.359313",6845.497058,96733.0,2.519873e+07
4,United Arab Emirates,Max,MX - Ras Al Khaimah,605,60071,Max Rak,STANDALONE,NaN,2221.872874,2006-03-20,Train,NaN,12385.047461,70456.0,4.621496e+07
5,United Arab Emirates,Max,MX - Fujairah,604,60063,Max Fujairah,STANDALONE,NaN,2943.555700,2009-07-24,Train,NaN,4579.081667,82294.0,6.122596e+07
6,United Arab Emirates,Max,MX - Sharjah,606,60075,Max Sharjah Qassimia,STANDALONE,NaN,2268.223683,2011-02-11,Train,NaN,9582.354867,113795.0,4.717905e+07
7,United Arab Emirates,Max,MX - Ajman,603,60055,Max Ajman,Nk Mall Ajman-UAE,NaN,2036.012120,2008-09-04,Train,NaN,10085.472996,78460.0,4.234905e+07
8,United Arab Emirates,Max,MX - Dubai,601,60066,Max Madina - Qusais,Madina Mall-Uae,NaN,1331.402147,2012-05-28,Train,"25.282082, 55.397985",15897.142270,79249.0,2.769316e+07
9,United Arab Emirates,Max,MX - Abu Dhabi,602,60067,Max Marina Mall,Abudhabi Marina Mall-Uae,NaN,1699.560982,2011-12-14,Train,"24.476186, 54.321439",8673.534535,89351.0,3.535087e+07
10,United Arab Emirates,Max,MX - Dubai,601,60241,MX - Sindagha-Burdubai,Shindaga Mall-Uae,Mall Stores,369.319201,2015-09-15,Train,"25.264114, 55.286850",2708.813317,67296.0,7.681839e+06
11,United Arab Emirates,Max,MX - Dubai,601,60070,Max Oasis,Oasis Centre-Uae,NaN,3330.695720,2009-03-29,Train,"25.191518, 55.243562",19003.694395,134430.0,6.927847e+07
12,United Arab Emirates,Max,MX - Dubai,601,60062,Max Dubai Mall,Dubai Mall-Uae,NaN,759.095717,2012-03-01,Train,"25.169843, 55.241679",6093.498908,88496.0,1.578919e+07
13,United Arab Emirates,Max,MX - Ras Al Khaimah,605,60072,Max Rak-Safeer,Safeer Mall - Rakuae-Uae,NaN,1974.963188,2010-01-14,Train,"25.749031, 55.925038",4189.720206,63174.0,4.107923e+07
14,United Arab Emirates,Max,MX - Abu Dhabi,602,60058,Max Bawabat Al Sharq,Bawabat Al Sharq Malluae-Uae,NaN,1965.523053,2011-12-08,Train,"24.312255, 54.619651",8792.292763,80204.0,4.088288e+07
15,United Arab Emirates,Max,MX - Sharjah,606,60074,Max Sharjah,STANDALONE,NaN,2631.139338,2004-07-21,Train,NaN,3467.799125,137253.0,5.472770e+07
16,United Arab Emirates,Max,MX - Fujairah,604,60064,Max Fujairah City Centre,Fujairah City Centre-Uae,NaN,1938.614747,2012-04-04,Train,"25.125995, 56.302260",8162.046109,80632.0,4.032319e+07
17,United Arab Emirates,Max,MX - Sharjah,606,60076,Max Shj City Centre,Sharjah City Centre-Uae,NaN,2265.965914,2012-03-23,Train,"25.325119, 55.393559",93125.240189,165012.0,4.713209e+07
18,United Arab Emirates,Max,MX - Abu Dhabi,602,60069,Max Mushrif Mall,Mushrif Mall Abudhabi-Uae,NaN,1813.094697,2011-07-30,Train,"24.434721, 54.412599",6698.117964,114246.0,3.771237e+07
19,United Arab Emirates,Max,MX - Abu Dhabi,602,60079,Max Abudhabi Deerfields,Deerfields Mall-Uae,Stand Alone Stores,1193.119529,2013-11-23,Train,"24.321044, 54.480138",3699.470014,54832.0,2.481689e+07
20,United Arab Emirates,Max,MX - Dubai,601,60059,Max Bur Dubai,STANDALONE,NaN,2053.035168,2004-11-22,Train,NaN,9654.989644,140183.0,4.270313e+07
21,United Arab Emirates,Max,MX - Dubai,601,60086,Max - Al Ghurair - New Store,Al Ghurair City-Uae,Mall Stores,2537.820097,2013-10-01,Train,"24.322808, 54.480221",12950.629513,192764.0,5.278666e+07
22,United Arab Emirates,Max,MX - Dubai,601,60060,Max Deira,STANDALONE,NaN,2166.127477,2004-09-08,Train,NaN,8317.736752,84415.0,4.505545e+07
23,United Arab Emirates,Max,MX - Abu Dhabi,602,60233,MX -Yas Mall,Yas Mall-Uae,Mall Stores,1045.779749,2014-11-25,Train,"24.322808, 54.480221",16455.386430,75505.0,2.175222e+07
24,United Arab Emirates,Max,MX - Dubai,601,60068,Max Mirdiff,Mirdif City Centre-Uae,NaN,4462.359330,2010-03-16,Train,"25.216552, 55.407763",23368.665000,231790.0,9.281707e+07
25,United Arab Emirates,Max,MX - Dubai,601,60250,MX - Meisam City Centre,Meaisem City Centre-Uae,Mall Stores,773.945840,2015-09-01,Train,"25.039951, 55.198099",7846.686536,45197.0,1.609807e+07
26,United Arab Emirates,Max,MX - Abu Dhabi,602,60057,Max Alain,Bawadi Mall-UAE,NaN,3090.542301,2009-04-02,Train,"24.170905, 55.808654",18277.772523,119643.0,6.428328e+07
27,United Arab Emirates,Max,MX - Dubai,601,60061,Max Deira City Centre,Deira City Centre-UAE,NaN,3774.638096,2012-06-12,Train,"25.255088, 55.330340",22866.922575,263026.0,7.851247e+07
28,United Arab Emirates,Max,MX - Abu Dhabi,602,60053,Max Abudhabi,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,6.436403e+07
29,United Arab Emirates,Max,MX - Abu Dhabi,602,60054,Max Abudhabi Dalma Mall,Dalma Mall Abu Dhabi-Uae,NaN,2101.072259,2011-11-23,Train,"24.333514, 54.523955",12425.516106,118444.0,4.370230e+07
30,United Arab Emirates,Max,MX - Abu Dhabi,602,60275,Max Makhani Zakher,Abu Dhabi Co-Op Mall-UAE,NaN,498.182287,2017-03-20,Train,"24.503005, 54.382945",2178.431368,13669.0,5.271267e+06
31,United Arab Emirates,Max,MX - Abu Dhabi,602,60301,MAX- Abudhabi Al Wahda,AL Wahda,Mall Stores,10861.009520,2018-01-30,Test,"24.470587, 54.372679",23288.338616,NaN,7.472375e+06
32,United Arab Emirates,Max,MX - Sharjah,606,60298,MAX - Matejer Al Juraina,Matejer Al Juraina,Mall Stores,4099.543401,2018-01-07,Test,"25.296484, 55.489202",8391.589347,NaN,2.820486e+06
33,United Arab Emirates,Max,MX - Abu Dhabi,602,60300,MAX-WTC,WTC,Mall Stores,7036.233391,2018-02-01,Test,"24.487658, 54.357529",6604.762130,NaN,2.701914e+06
34,United Arab Emirates,Max,MX - Abu Dhabi,602,60299,MAX-Alain Mall,Alain Mall,Mall Stores,5157.825699,2018-02-01,Test,"24.222016, 55.781629",3266.388547,NaN,4.796778e+05

In [11]:
## Segerating stores with malll and standalone
A=[]
for val in Store_deatils["Mall_Name"]:
    if val=="STANDALONE":
        A.append(1)
    else:
        A.append(0)
A=np.array(A)
Store_deatils["Store_Format"]=A
## Calculatiing Age of stores
Store_deatils["Age_of store"]=Store_deatils["Store_Launch_Date"].apply(lambda x:2018-x.year)

In [12]:
Store_deatils.drop(["Territory","Business","Store_Name","Mall_Name","Store_Launch_Date","Train_Test_Store","Geo_Field"],axis=1,inplace=True)

In [13]:
Store_deatils

,Region,Region_Code,Store_Code,Store_Format,Sales_Per_Day,Store_Size_Sq_Ft,Customer_Count,Total_Revenue,Age_of store
0,MX - Abu Dhabi,602,60077,0,544.074849,4852.220341,22237.0,1.131676e+07,7
1,MX - Sharjah,606,60073,0,1251.656549,13789.949661,88372.0,2.603446e+07,9
2,MX - Dubai,601,60065,0,3319.885702,15609.687991,188836.0,6.905362e+07,13
3,MX - Dubai,601,60219,0,1211.477261,6845.497058,96733.0,2.519873e+07,4
4,MX - Ras Al Khaimah,605,60071,1,2221.872874,12385.047461,70456.0,4.621496e+07,12
5,MX - Fujairah,604,60063,1,2943.555700,4579.081667,82294.0,6.122596e+07,9
6,MX - Sharjah,606,60075,1,2268.223683,9582.354867,113795.0,4.717905e+07,7
7,MX - Ajman,603,60055,0,2036.012120,10085.472996,78460.0,4.234905e+07,10
8,MX - Dubai,601,60066,0,1331.402147,15897.142270,79249.0,2.769316e+07,6
9,MX - Abu Dhabi,602,60067,0,1699.560982,8673.534535,89351.0,3.535087e+07,7
10,MX - Dubai,601,60241,0,369.319201,2708.813317,67296.0,7.681839e+06,3
11,MX - Dubai,601,60070,0,3330.695720,19003.694395,134430.0,6.927847e+07,9
12,MX - Dubai,601,60062,0,759.095717,6093.498908,88496.0,1.578919e+07,6
13,MX - Ras Al Khaimah,605,60072,0,1974.963188,4189.720206,63174.0,4.107923e+07,8
14,MX - Abu Dhabi,602,60058,0,1965.523053,8792.292763,80204.0,4.088288e+07,7
15,MX - Sharjah,606,60074,1,2631.139338,3467.799125,137253.0,5.472770e+07,14
16,MX - Fujairah,604,60064,0,1938.614747,8162.046109,80632.0,4.032319e+07,6
17,MX - Sharjah,606,60076,0,2265.965914,93125.240189,165012.0,4.713209e+07,6
18,MX - Abu Dhabi,602,60069,0,1813.094697,6698.117964,114246.0,3.771237e+07,7
19,MX - Abu Dhabi,602,60079,0,1193.119529,3699.470014,54832.0,2.481689e+07,5
20,MX - Dubai,601,60059,1,2053.035168,9654.989644,140183.0,4.270313e+07,14
21,MX - Dubai,601,60086,0,2537.820097,12950.629513,192764.0,5.278666e+07,5
22,MX - Dubai,601,60060,1,2166.127477,8317.736752,84415.0,4.505545e+07,14
23,MX - Abu Dhabi,602,60233,0,1045.779749,16455.386430,75505.0,2.175222e+07,4
24,MX - Dubai,601,60068,0,4462.359330,23368.665000,231790.0,9.281707e+07,8
25,MX - Dubai,601,60250,0,773.945840,7846.686536,45197.0,1.609807e+07,3
26,MX - Abu Dhabi,602,60057,0,3090.542301,18277.772523,119643.0,6.428328e+07,9
27,MX - Dubai,601,60061,0,3774.638096,22866.922575,263026.0,7.851247e+07,6
28,MX - Abu Dhabi,602,60053,1,3094.424495,19200.122169,160218.0,6.436403e+07,14
29,MX - Abu Dhabi,602,60054,0,2101.072259,12425.516106,118444.0,4.370230e+07,7
30,MX - Abu Dhabi,602,60275,0,498.182287,2178.431368,13669.0,5.271267e+06,1
31,MX - Abu Dhabi,602,60301,0,10861.009520,23288.338616,NaN,7.472375e+06,0
32,MX - Sharjah,606,60298,0,4099.543401,8391.589347,NaN,2.820486e+06,0
33,MX - Abu Dhabi,602,60300,0,7036.233391,6604.762130,NaN,2.701914e+06,0
34,MX - Abu Dhabi,602,60299,0,5157.825699,3266.388547,NaN,4.796778e+05,0

In [14]:
#Removing Leakage variable
Store_deatils.drop(["Customer_Count"],axis=1,inplace=True)

In [15]:
Store_deatils.isnull().sum(axis=0)

Region              0
Region_Code         0
Store_Code          0
Store_Format        0
Sales_Per_Day       0
Store_Size_Sq_Ft    0
Total_Revenue       0
Age_of store        0
dtype: int64

In [16]:
Cstmr_trstn.shape

(544649, 15)

In [17]:
Cstmr_trstn.head(100)

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,Invoices,Item_Count,Revenue,Discount,Units_Sold
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,1,3,-169.00,0.00,-3
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,1,1,0.00,0.00,0
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,1,1,0.00,0.00,0
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,1,4,0.00,0.00,0
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,1,1,0.00,0.00,0
5,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000045703150,1,1,0.00,0.00,0
6,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000045740150,1,1,0.00,0.00,0
7,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000046079170,2,7,0.00,0.00,0
8,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000047493340,1,1,0.00,0.00,0
9,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000048130990,1,2,0.00,0.00,0
10,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000054019360,1,1,0.00,0.00,0
11,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000054841260,1,1,0.00,0.00,0
12,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000054994790,1,1,0.00,0.00,0
13,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000058101370,1,1,0.00,0.00,0
14,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000058661850,1,1,0.00,0.00,0
15,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000080131780,1,1,0.00,0.00,0
16,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000080464400,1,2,0.00,0.00,0
17,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000089762380,1,1,0.00,0.00,0
18,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000117190630,1,1,0.00,0.00,0
19,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000117238230,1,1,0.00,0.00,0
20,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000134189220,1,1,0.00,0.00,0
21,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000134965000,1,1,0.00,0.00,0
22,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000142189030,1,1,0.00,0.00,0
23,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000142779000,1,1,0.00,0.00,0
24,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000143039020,1,1,0.00,0.00,0
25,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000143403790,1,1,0.00,0.00,0
26,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000184953240,1,1,0.00,0.00,0
27,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000006395940,1,6,176.75,48.25,6
28,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000006481140,1,4,69.00,85.00,4
29,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000006496370,1,9,206.00,128.00,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000045262900,1,3,55.00,78.00,3
71,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000045362070,1,2,120.00,40.00,3
72,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000045432650,1,5,143.00,65.00,5
73,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000045703150,1,17,383.25,252.75,18
74,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000045733140,1,7,157.25,89.75,7
75,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000045740150,2,10,174.00,79.00,11
76,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000045974540,1,1,5.00,15.00,1
77,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000046079170,2,16,185.00,837.00,24
78,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000046346320,2,4,147.50,42.50,4
79,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000046407740,1,5,114.00,100.00,6
80,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000046627510,1,6,185.00,78.00,6
81,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000046859260,1,3,95.00,95.00,3
82,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000046861080,2,15,184.25,130.75,15
83,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047164140,2,17,507.00,130.00,19
84,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047169600,2,9,254.50,105.50,10
85,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047308620,1,9,144.00,135.00,9
86,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047493340,1,5,156.00,44.00,6
87,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047530570,1,4,122.00,243.00,7
88,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047680680,1,2,27.00,10.00,2
89,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047748430,2,20,324.00,439.00,21
90,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047758740,1,3,225.00,76.00,5
91,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047854170,1,5,325.00,48.00,20
92,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047876710,1,1,49.00,0.00,1
93,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000047879730,1,4,160.00,64.00,4
94,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000048013600,2,2,90.00,5.00,2
95,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000048130990,1,10,219.00,244.00,11
96,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000048131460,1,9,274.00,75.00,11
97,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000053971940,1,4,94.00,6.00,4
98,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000054019360,1,5,106.00,28.00,5
99,United Arab Emirates,Max,2016,0,60053,Abu Dhabi,Stand alone,Purchase,NaN,1800000054404180,1,4,80.00,68.00,4

In [18]:
Test["Store_Code"].value_counts()

60298    100000
60299    100000
60300    100000
60301    100000
Name: Store_Code, dtype: int64

In [19]:
### hence we have an outlier store:60084 in customer transaction 
a=np.unique(Cstmr_trstn["Store_Code"])

In [20]:
set(a)-set(Store_deatils["Store_Code"])

{60084}

In [21]:
Customer_id=Cstmr_details["Customer_ID"]
store_Code=Store_deatils["Store_Code"][:31]

In [22]:
All_Customer_store=[]
for cst in Customer_id:
    for st in store_Code:
        All_Customer_store.append(str(cst)+"#"+str(st))

In [23]:
Cstmr_trstn["Customer_store"]=Cstmr_trstn["Customer_ID"].apply(lambda x:str(x))+"#"+Cstmr_trstn["Store_Code"].apply(lambda x:str(x))

In [24]:
fav_customer_store=[i for i in Cstmr_trstn["Customer_store"].value_counts().index]

In [25]:
Customer_store_dict=dict(list(zip(All_Customer_store,np.zeros(len(All_Customer_store)))))

In [26]:
fav_dict=dict(list(zip(fav_customer_store,np.zeros(len(fav_customer_store)))))

In [27]:
for val in Customer_store_dict:
    if val in fav_dict:
        Customer_store_dict[val]=1

In [28]:
a,b=zip(*list(Customer_store_dict.items()))

In [29]:
Train=pd.DataFrame()
Train["Customer_store"]=a
Train["Target"]=b

In [30]:
Train.head()

           Customer_store  Target
0  1800000006365760#60077     0.0
1  1800000006365760#60073     0.0
2  1800000006365760#60065     0.0
3  1800000006365760#60219     0.0
4  1800000006365760#60071     0.0

In [31]:
Train["Customer_ID"]=Train["Customer_store"].apply(lambda x:int(x.split("#")[0]))
Train["Store_Code"]=Train["Customer_store"].apply(lambda x:int(x.split("#")[1]))

In [32]:
Train.head()

           Customer_store  Target       Customer_ID  Store_Code
0  1800000006365760#60077     0.0  1800000006365760       60077
1  1800000006365760#60073     0.0  1800000006365760       60073
2  1800000006365760#60065     0.0  1800000006365760       60065
3  1800000006365760#60219     0.0  1800000006365760       60219
4  1800000006365760#60071     0.0  1800000006365760       60071

In [33]:
Train=pd.merge(Train,Store_deatils,on="Store_Code")

In [34]:
Train=pd.merge(Train,Cstmr_details,on="Customer_ID")

In [35]:
Train.head(100)

,Customer_store,Target,Customer_ID,Store_Code,Region,Region_Code,Store_Format,Sales_Per_Day,Store_Size_Sq_Ft,Total_Revenue,...,Nationality,Income_Range,Job_Type,Marital_Status,Gender,State,Language,Loyalty_Status,Age,Points
0,1800000006365760#60077,0.0,1800000006365760,60077,MX - Abu Dhabi,602,0,544.074849,4852.220341,1.131676e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
1,1800000006365760#60073,0.0,1800000006365760,60073,MX - Sharjah,606,0,1251.656549,13789.949661,2.603446e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
2,1800000006365760#60065,0.0,1800000006365760,60065,MX - Dubai,601,0,3319.885702,15609.687991,6.905362e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
3,1800000006365760#60219,0.0,1800000006365760,60219,MX - Dubai,601,0,1211.477261,6845.497058,2.519873e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
4,1800000006365760#60071,0.0,1800000006365760,60071,MX - Ras Al Khaimah,605,1,2221.872874,12385.047461,4.621496e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
5,1800000006365760#60063,0.0,1800000006365760,60063,MX - Fujairah,604,1,2943.555700,4579.081667,6.122596e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
6,1800000006365760#60075,0.0,1800000006365760,60075,MX - Sharjah,606,1,2268.223683,9582.354867,4.717905e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
7,1800000006365760#60055,0.0,1800000006365760,60055,MX - Ajman,603,0,2036.012120,10085.472996,4.234905e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
8,1800000006365760#60066,0.0,1800000006365760,60066,MX - Dubai,601,0,1331.402147,15897.142270,2.769316e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
9,1800000006365760#60067,1.0,1800000006365760,60067,MX - Abu Dhabi,602,0,1699.560982,8673.534535,3.535087e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
10,1800000006365760#60241,0.0,1800000006365760,60241,MX - Dubai,601,0,369.319201,2708.813317,7.681839e+06,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
11,1800000006365760#60070,0.0,1800000006365760,60070,MX - Dubai,601,0,3330.695720,19003.694395,6.927847e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
12,1800000006365760#60062,0.0,1800000006365760,60062,MX - Dubai,601,0,759.095717,6093.498908,1.578919e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
13,1800000006365760#60072,0.0,1800000006365760,60072,MX - Ras Al Khaimah,605,0,1974.963188,4189.720206,4.107923e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
14,1800000006365760#60058,0.0,1800000006365760,60058,MX - Abu Dhabi,602,0,1965.523053,8792.292763,4.088288e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
15,1800000006365760#60074,0.0,1800000006365760,60074,MX - Sharjah,606,1,2631.139338,3467.799125,5.472770e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
16,1800000006365760#60064,0.0,1800000006365760,60064,MX - Fujairah,604,0,1938.614747,8162.046109,4.032319e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
17,1800000006365760#60076,0.0,1800000006365760,60076,MX - Sharjah,606,0,2265.965914,93125.240189,4.713209e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
18,1800000006365760#60069,0.0,1800000006365760,60069,MX - Abu Dhabi,602,0,1813.094697,6698.117964,3.771237e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
19,1800000006365760#60079,0.0,1800000006365760,60079,MX - Abu Dhabi,602,0,1193.119529,3699.470014,2.481689e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
20,1800000006365760#60059,0.0,1800000006365760,60059,MX - Dubai,601,1,2053.035168,9654.989644,4.270313e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
21,1800000006365760#60086,0.0,1800000006365760,60086,MX - Dubai,601,0,2537.820097,12950.629513,5.278666e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
22,1800000006365760#60060,0.0,1800000006365760,60060,MX - Dubai,601,1,2166.127477,8317.736752,4.505545e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
23,1800000006365760#60233,0.0,1800000006365760,60233,MX - Abu Dhabi,602,0,1045.779749,16455.386430,2.175222e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
24,1800000006365760#60068,0.0,1800000006365760,60068,MX - Dubai,601,0,4462.359330,23368.665000,9.281707e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
25,1800000006365760#60250,0.0,1800000006365760,60250,MX - Dubai,601,0,773.945840,7846.686536,1.609807e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
26,1800000006365760#60057,0.0,1800000006365760,60057,MX - Abu Dhabi,602,0,3090.542301,18277.772523,6.428328e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
27,1800000006365760#60061,0.0,1800000006365760,60061,MX - Dubai,601,0,3774.638096,22866.922575,7.851247e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
28,1800000006365760#60053,0.0,1800000006365760,60053,MX - Abu Dhabi,602,1,3094.424495,19200.122169,6.436403e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
29,1800000006365760#60054,0.0,1800000006365760,60054,MX - Abu Dhabi,602,0,2101.072259,12425.516106,4.370230e+07,...,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1800000006366060#60066,1.0,1800000006366060,60066,MX - Dubai,601,0,1331.402147,15897.142270,2.769316e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
71,1800000006366060#60067,0.0,1800000006366060,60067,MX - Abu Dhabi,602,0,1699.560982,8673.534535,3.535087e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
72,1800000006366060#60241,0.0,1800000006366060,60241,MX - Dubai,601,0,369.319201,2708.813317,7.681839e+06,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
73,1800000006366060#60070,0.0,1800000006366060,60070,MX - Dubai,601,0,3330.695720,19003.694395,6.927847e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
74,1800000006366060#60062,0.0,1800000006366060,60062,MX - Dubai,601,0,759.095717,6093.498908,1.578919e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
75,1800000006366060#60072,0.0,1800000006366060,60072,MX - Ras Al Khaimah,605,0,1974.963188,4189.720206,4.107923e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
76,1800000006366060#60058,0.0,1800000006366060,60058,MX - Abu Dhabi,602,0,1965.523053,8792.292763,4.088288e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
77,1800000006366060#60074,0.0,1800000006366060,60074,MX - Sharjah,606,1,2631.139338,3467.799125,5.472770e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
78,1800000006366060#60064,0.0,1800000006366060,60064,MX - Fujairah,604,0,1938.614747,8162.046109,4.032319e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
79,1800000006366060#60076,0.0,1800000006366060,60076,MX - Sharjah,606,0,2265.965914,93125.240189,4.713209e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
80,1800000006366060#60069,1.0,1800000006366060,60069,MX - Abu Dhabi,602,0,1813.094697,6698.117964,3.771237e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
81,1800000006366060#60079,1.0,1800000006366060,60079,MX - Abu Dhabi,602,0,1193.119529,3699.470014,2.481689e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
82,1800000006366060#60059,0.0,1800000006366060,60059,MX - Dubai,601,1,2053.035168,9654.989644,4.270313e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
83,1800000006366060#60086,0.0,1800000006366060,60086,MX - Dubai,601,0,2537.820097,12950.629513,5.278666e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
84,1800000006366060#60060,0.0,1800000006366060,60060,MX - Dubai,601,1,2166.127477,8317.736752,4.505545e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
85,1800000006366060#60233,1.0,1800000006366060,60233,MX - Abu Dhabi,602,0,1045.779749,16455.386430,2.175222e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
86,1800000006366060#60068,0.0,1800000006366060,60068,MX - Dubai,601,0,4462.359330,23368.665000,9.281707e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
87,1800000006366060#60250,0.0,1800000006366060,60250,MX - Dubai,601,0,773.945840,7846.686536,1.609807e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
88,1800000006366060#60057,0.0,1800000006366060,60057,MX - Abu Dhabi,602,0,3090.542301,18277.772523,6.428328e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
89,1800000006366060#60061,0.0,1800000006366060,60061,MX - Dubai,601,0,3774.638096,22866.922575,7.851247e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
90,1800000006366060#60053,0.0,1800000006366060,60053,MX - Abu Dhabi,602,1,3094.424495,19200.122169,6.436403e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
91,1800000006366060#60054,0.0,1800000006366060,60054,MX - Abu Dhabi,602,0,2101.072259,12425.516106,4.370230e+07,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
92,1800000006366060#60275,0.0,1800000006366060,60275,MX - Abu Dhabi,602,0,498.182287,2178.431368,5.271267e+06,...,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,59.0,186.0
93,1800000006366230#60077,0.0,1800000006366230,60077,MX - Abu Dhabi,602,0,544.074849,4852.220341,1.131676e+07,...,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,57.0,126.0
94,1800000006366230#60073,0.0,1800000006366230,60073,MX - Sharjah,606,0,1251.656549,13789.949661,2.603446e+07,...,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,57.0,126.0
95,1800000006366230#60065,0.0,1800000006366230,60065,MX - Dubai,601,0,3319.885702,15609.687991,6.905362e+07,...,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,57.0,126.0
96,1800000006366230#60219,0.0,1800000006366230,60219,MX - Dubai,601,0,1211.477261,6845.497058,2.519873e+07,...,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,57.0,126.0
97,1800000006366230#60071,0.0,1800000006366230,60071,MX - Ras Al Khaimah,605,1,2221.872874,12385.047461,4.621496e+07,...,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,57.0,126.0
98,1800000006366230#60063,0.0,1800000006366230,60063,MX - Fujairah,604,1,2943.555700,4579.081667,6.122596e+07,...,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,57.0,126.0
99,1800000006366230#60075,0.0,1800000006366230,60075,MX - Sharjah,606,1,2268.223683,9582.354867,4.717905e+07,...,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,57.0,126.0

In [36]:
Train.shape

(3100000, 21)

In [37]:
#Train.to_csv("Train.csv")

In [38]:
Test=pd.merge(Test,Store_deatils,on="Store_Code")

In [39]:
Test=pd.merge(Test,Cstmr_details,on="Customer_ID")

In [40]:
Test.shape

(400000, 19)

In [41]:
Train.drop(["Customer_store"],axis=1,inplace=True)

In [42]:
Y_train=Train["Target"]

In [43]:
X_train=Train.copy()
X_test=Test.copy()
X_train.drop(["Customer_ID","Store_Code","Target"],axis=1,inplace=True)
X_test.drop(["Customer_ID","Store_Code"],axis=1,inplace=True)

In [44]:
X_train.head()

,Region,Region_Code,Store_Format,Sales_Per_Day,Store_Size_Sq_Ft,Total_Revenue,Age_of store,Nationality,Income_Range,Job_Type,Marital_Status,Gender,State,Language,Loyalty_Status,Age,Points
0,MX - Abu Dhabi,602,0,544.074849,4852.220341,1.131676e+07,7,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
1,MX - Sharjah,606,0,1251.656549,13789.949661,2.603446e+07,9,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
2,MX - Dubai,601,0,3319.885702,15609.687991,6.905362e+07,13,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
3,MX - Dubai,601,0,1211.477261,6845.497058,2.519873e+07,4,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0
4,MX - Ras Al Khaimah,605,1,2221.872874,12385.047461,4.621496e+07,12,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,59.0,814.0

In [45]:
X_train["Region_Code"]=X_train["Region_Code"].astype("object")
X_test["Region_Code"]=X_test["Region_Code"].astype("object")

In [46]:
cat_var=[ i  for i in X_train.columns if X_train[i].dtype=="object" ]
cont_var=[i for i in X_train.columns if X_train[i].dtype!="object"]

In [47]:
X_train.dtypes

Region               object
Region_Code          object
Store_Format          int64
Sales_Per_Day       float64
Store_Size_Sq_Ft    float64
Total_Revenue       float64
Age_of store          int64
Nationality          object
Income_Range         object
Job_Type             object
Marital_Status       object
Gender               object
State                object
Language             object
Loyalty_Status       object
Age                 float64
Points              float64
dtype: object

In [48]:
## label encoding
for val in cat_var:
    print(val)
    final_col=X_train[val].append(X_test[val])
    final_col=le.fit_transform(final_col)
    X_train[val]=final_col[:X_train.shape[0]]
    X_test[val]=final_col[X_train.shape[0]:]

Region
Region_Code
Nationality
Income_Range
Job_Type
Marital_Status
Gender
State
Language
Loyalty_Status

In [76]:
X_tr, X_val, y_tr, y_val=train_test_split(X_train,Y_train,test_size=.25,stratify=Y_train)

In [77]:
X_tr.reset_index(inplace=True,drop=True)
y_tr.reset_index(inplace=True,drop=True)
X_val.reset_index(inplace=True,drop=True)
y_val.reset_index(inplace=True,drop=True)

In [74]:
from xgboost import XGBClassifier

In [78]:
clf=XGBClassifier(n_estimators=2000,learning_rate=0.001,max_depth=6)

clf.fit(X_tr,y_tr)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.001, max_delta_step=0,
       max_depth=6, min_child_weight=1, missing=None, n_estimators=2000,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [79]:
pred=clf.predict(X_val)
f1_score(y_val,pred)

/home/saksham/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.08047900328609157

In [74]:
X_train.shape

(3100000, 17)

In [50]:
neg_index=list(Y_train[Y_train==1].index)
pos_index=list(set(list(range(X_train.shape[0])))-set(neg_index))

In [51]:
neg_X_train=X_train.iloc[neg_index,:]
pos_X_train=X_train.iloc[pos_index,:]

In [52]:
pos_X_train.reset_index(drop=True,inplace=True)

neg_X_train.reset_index(drop=True,inplace=True)

In [53]:
pos_X_train.shape

(2915713, 17)

In [54]:
neg_X_train.shape

(184287, 17)

In [55]:
c=500000
inc=500000
pos_X_train_1=pos_X_train.iloc[:c,:].reset_index(drop=True)
pos_X_train_2=pos_X_train.iloc[c:c+inc,:].reset_index(drop=True)
c+=inc
pos_X_train_3=pos_X_train.iloc[c:c+inc,:].reset_index(drop=True)
c+=inc
pos_X_train_4=pos_X_train.iloc[c:c+inc,:].reset_index(drop=True)
c+=inc
pos_X_train_5=pos_X_train.iloc[c:c+inc,:].reset_index(drop=True)
c+=inc
pos_X_train_6=pos_X_train.iloc[c:,:].reset_index(drop=True)

In [56]:
pos_X_train_1.shape

(500000, 17)

In [57]:
X_train_1=pos_X_train_1.append(neg_X_train,ignore_index=True)
X_train_2=pos_X_train_2.append(neg_X_train,ignore_index=True)
X_train_3=pos_X_train_3.append(neg_X_train,ignore_index=True)
X_train_4=pos_X_train_4.append(neg_X_train,ignore_index=True)
X_train_5=pos_X_train_5.append(neg_X_train,ignore_index=True)
X_train_6=pos_X_train_6.append(neg_X_train,ignore_index=True)

In [58]:
X_train_1.to_csv("X_train_1.csv")

In [59]:
X_train_2.to_csv("X_train_2.csv")

In [60]:
X_train_3.to_csv("X_train_3.csv")

In [61]:
X_train_4.to_csv("X_train_4.csv")

In [62]:
X_train_5.to_csv("X_train_5.csv")

In [63]:
X_train_6.to_csv("X_train_6.csv")

In [64]:
X_test.to_csv("X_test.csv")

In [65]:
neg_X_train.to_csv("pos_X_train.csv")

In [67]:
X_test.shape

(400000, 17)